html,
body {
  height: 100%;
}

body {
  color: #000;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background: url(../img/bg-header.avif) repeat center center fixed #a6bfb8;
}

.header {
  background-color: #ffffff;
}

hr {
  border-color: #a6bfb8;
  border-width: 2px;
}

.navbar {
  background-color: #c36d29;
  color: #ffffff;
}

.navbar-brand {
  font-family: "Alice", serif;
  color: #ffffff;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: #ffffff;
}

.navbar-toggler {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  padding: 0.5rem;
  border-width: 2px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar .nav-item {
  margin-top: 0.5rem;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #c36d29;
  background-color: #fff;
  border-radius: 0.375rem;
}

.nav-underline .nav-link,
a {
  color: #548484;
}

.nav-tabs {
  border-color: #548484;
}

.nav-tabs .nav-link {
  color: #548484;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #548484;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #548484;
  border-color: #548484;
  color: #ffffff;
}

.navbar-nav .dropdown-menu {
  background-color: transparent;
  border: 0;
}

.navbar-nav .dropdown-item {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item:focus {
  color: #c36d29;
  background-color: #fff;
}

.btn-light {
  background-color: #548484;
  border-color: #548484;
  color: #fff;
}

.btn-light:hover,
.btn-light:focus {
  background-color: #a6bfb8;
  border-color: #548484;
  color: #548484;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  background-color: #548484;
  border-color: #548484;
  color: #ffffff;
}

.card {
  border-color: #c36d29;
}

.accordion-item {
  border-color: #548484;
}

.accordion-button:not(.collapsed) {
  background-color: #c36d29;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  color: #c36d29;
}

.accordion-button:focus {
  box-shadow: none;
}

#calendar .btn-primary {
  background-color: #a6bfb8;
  border-color: #548484;
  color: #548484;
}

#calendar .btn-primary.active {
  background-color: #548484;
  color: #ffffff;
}

.fc .fc-toolbar-title {
  text-align: center;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(195, 109, 41, 0.5);
}

.fc-theme-bootstrap5 .fc-list,
.fc-theme-bootstrap5 .fc-scrollgrid,
.fc-theme-bootstrap5 td,
.fc-theme-bootstrap5 th {
  border-color: #548484;
}

.fc-theme-bootstrap5 th.fc-col-header-cell {
  background-color: #a6bfb8;
  color: #548484;
}

.fc-h-event .fc-event-main {
  color: #c36d29;
  overflow: hidden;
}

table.table.dataTable thead > tr > th,
table.table.table-striped thead > tr > th {
  background-color: #a6bfb8;
  color: #548484;
}

.form-control,
.form-select,
.form-check-input {
  border-color: #548484;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  border-color: #548484;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #548484;
  border-color: #548484;
}

.page-link {
  color: #548484;
  border-color: #548484;
}

.page-link:focus {
  box-shadow: none;
}

.active > .page-link,
.page-link.active,
.page-link:hover {
  background-color: #a6bfb8;
  border-color: #548484;
  color: #548484;
}

.disabled > .page-link,
.page-link.disabled {
  border-color: #548484;
  color: #548484;
}

.modal-header {
  background-color: transparent;
  color: #c36d29;
}

.badge {
  background-color: #c36d29;
  color: #ffffff;
}

.input-group-text {
  background-color: #548484;
  color: #ffffff;
  border-color: #548484;
}

.list-group-flush > .list-group-item {
  border-color: #a6bfb8;
}

.footer a {
  color: #fff;
}
