<?php
    $link=mysqli_connect("host","user","password","database") or die("Cannot Connect to the database!");

    //Insert your cient ID and secret 
    //You can get it from : https://console.developers.google.com/
    $client_id = ''; 
    $client_secret = '';
    $redirect_uri = '';
    
    DEFINE('DB_HOST', '');
    DEFINE('DB_PORT', '');
    DEFINE('DB_NAME', '');
    DEFINE('DB_USER', '');
    DEFINE('DB_PASS', '');
    DEFINE('SMTP_USER', '');
    DEFINE('SMTP_PASS', '');
?>