<?php
    $link=mysqli_connect("host","user","password","database") or die("Cannot Connect to the database!");

    //Insert your cient ID and secret 
    //You can get it from : https://console.developers.google.com/
    $client_id = ''; 
    $client_secret = '';
    $redirect_uri = 'https://faizstudents.com/users/login.php';

    class CashfreeConfig {
        public static $appId = "";
        public static $secret = "";
        public static $apiVersion = "2021-05-21";
    
        public static $baseUrl = "";
        public static $returnHost = "";
    
    }
?>